# Python
*.py[cod]
*.so
*.egg-info/
__pycache__/
**/__pycache__/

# Distribution
build/
dist/

# Environments
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Miscellaneous
*.pot
